<div class="stations delete">
  <h2>Delete station</h2>

  <%= form_for(@station, method: 'delete') do |f| %>
    <% # url: station_path(@station), method: 'delete' %>

    <p>Are you sure you want to permanently delete this station?</p>
    <p><%= @station.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete station") %>
    </div>

  <% end %>
</div>
