<div class="payment">
  <div class="stations edit">
    <h2>Edit station</h2>

    <%= form_for(@station) do |f| %>
      <% # url: station_path(@station), method: 'patch' %>

      <%= render(partial: 'form', locals: {f: f}) %>

      <div>
        <%= f.submit("Save Changes", class:"form-buttons") %>
      </div>

    <% end %>
  </div>
</div>