<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Stations Edit
    </div>
    <%= link_to "<button class='show_rent'>Add New Station</button>".html_safe, new_station_path, class: 'action new' %>
    <% if @stations.present? %>
      We currently have the following stations available:  
      <div class="station-bike-space">
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      </div>
    <% else %>
      <div class="empty">
        There are currently no stations or bikes found.
      </div>
    <% end %>
	</div>
</div>
