<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Your current rental: 
    </div>  
    <div class="flexbox vertical stretch">
      Placeholder
      <%= link_to "Back", users_path%>
    </div>
</div>