<!DOCTYPE html>
<html>

<div id='text-container' class = "page-section section-inner flexbox vertical stretch">
<article>
    
    <div class="image">

      <img src=<%=image_path('octupus_bicycle.jpg') %> alt="Octopus riding a bike" width=60% />
      
      <h3 class="text_over_image">You have places to go.
      <br>
      We have the fun, eco-friendly transportation you need.</h3>
      
</div>

    <h4>
        Welcome to GrakenBike. Our fleet of e-bikes is housed in Graken stations all over Nipmuc Notch, awaiting your adventures.
    </h4>

    <h3>Find a station</h3>
    <p>
    Use our <%=link_to("station map", station_maps_index_path,  data: { turbo: false })%>
    to locate a station near you and check if bikes are available.
    </p>

    <h3>Rent a bike</h3>
    <p>
    Make a GrakenBike account and add a credit card. Then you're all set to rent! Select a bike, then navigate to 
    <%=link_to("Rent Now", rentals_path) %>
    to select your current station and chosen ride.
    </p>

    <h3>Explore Nipmuc Notch</h3>
    <p>
    Ride your GrakenBike e-bike all over the valley!
    </p>

    <h3>Return your bike</h3>
    <p>
    Once you're done with your ride, return your bike to any of our stations and end your rental on our website.
    </p>
</article>
</div>
</html>