<div class="record-row <%= cycle " odd", "even" , name: "row-cycler" %>
    flexbox vertical stretch">
     <%=bike.theme_name%> bike
    
    <%= link_to("Rent Now", new_rental_path(:rental => bike.id)) %>
</div>