<!DOCTYPE html>
<html>
<!-- Displays all stations available to rent from  -->

    <%# <div class="flexbox vertical center"> %>
        <div class="section-inner flexbox vertical center">
            <h2>
            Stations
            </h2>
            <div>Select the station you are renting from.</div>
                <div class="station-bike-space">
                    <% if @stations.present? %>
                    <%= render(partial: "rentals/station", collection: @stations, as: :station) %>
                    <% else %>
                    <div class="empty">
                        We currently no stations.
                    </div>
                    <% end %>
            </div>
            </div>
        </div>
    <%# </div> %>

</html>