<div class="rental show">
  <div>
    <h2>Station: <%=@station.theme_name%></h2>
  </div>

  <div class="actions">

  </div>
  <div class="flexbox center stretch">
    <table summary="station detail view" style="margin-left:auto;margin-right:auto; text-align:left">
        <td><%= @station.address %></td>
    </table>
  </div>

  <br>
  <br>
  <div class="station-bike-space">
  <%= render(partial: "rentals/bike", collection: @bikes, as: :bike) %>
  </div>
  <p><%= link_to('Back to Station List', rentals_path) %></p>
</div>
