<table summary="Bike form fields">
    <tr>
        <th> Identifier </th>
        <td><%= f.text_field(:identifier) %></td>
    </tr>

    <tr>
        <th>Current Station Identifier</th>
        <td><%=f.text_field(:current_station_id)%></td>
    </tr>

</table>