<table summary="Bike form fields">
    <tr>
        <th> Identifier </th>
        <td><%= f.text_field(:identifier) %></td>
    </tr>

    <tr>
        <th>Current Station Identifier</th>
        <td><%=f.collection_select :current_station_id, Station.all, :identifier, :identifier_with_name %></td>
    </tr>

</table>