<div class="bikes delete">
  <h2>Delete bike</h2>

  <%= form_for(@bike, method: 'delete') do |f| %>
    <% # url: bike_path(@bike), method: 'delete' %>

    <p>Are you sure you want to permanently delete this bike?</p>
    <p><%= @bike.identifier_with_name %></p>

    <div>
      <%= f.submit("Delete bike", class:"form-buttons") %>
    </div>

  <% end %>
</div>
