<div class="section-title">
Welcome to the Bike View! 
</div>  
<div class="flexbox vertical stretch">
  <% if @bikes.present? %>
    Bikes are available!
  <% else %>
  <div class="empty">
      There are currently no bikes available.
  </div>
  <% end %>
</div>
</div>
</div>