<!DOCTYPE html>
<html>
<!-- Allows user to add a new bike -->

    <div class="bikes new">
        <h2>Add a New Bike</h2>

        <%= form_for(@bike) do |f| %>
            <% # url: bikes_path, method: 'post' %>
            <%= render(partial: 'form', locals: {f: f}) %>

            <div>
                <%= f.submit("Save New Bike", class:"form-buttons") %>
            </div>
        <% end %>

    </div>

</html>