<div class="updates delete">
  <h2>Delete update</h2>

  <%= form_for(@update, method: 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this update?</p>
    <p><%= @update.title%></p>

    <div>
      <%= f.submit("Delete update", class:"form-buttons") %>
    </div>

  <% end %>
</div>
