<!DOCTYPE html>
<html>
<!-- User can update an update, haha -->

  <div class="bikes update">
    <h2>Edit Update</h2>

    <%= form_for(@update) do |f| %>
      <%= render(partial: 'form', locals: {f: f}) %>

      <div>
        <%= f.submit("Save Changes", class:"form-buttons") %>
      </div>

    <% end %>
  </div>

</html>