<!DOCTYPE html>
<html>
<!-- Adds/saves new update -->

    <div class="updates new">
        <h2>New Update</h2>

        <%= form_for(@update) do |f| %>
            <%= render(partial: 'form', locals: {f: f}) %>

            <div>
                <%= f.submit("Save New Update", class:"form-buttons") %>
            </div>
        <% end %>

    </div>

</html>