<div class= "payment">
   <h2 class="center">Payment</h2>
    <% if current_user.has_card? %>
        <div>Please edit your card from here:</div>
        <h2><%= link_to "Edit", edit_card_path(@card)%></h2>
    <% else %>

        <%= form_for(@card) do |f| %>
            <%= render(partial: 'form', locals: {f: f}) %>
            <div>
                <%= f.submit("Save card" , class:"form-buttons") %>
            </div>
        <% end %>
    <% end %>
</div>


               