<!DOCTYPE html>
<html>

<head>
    <style>
        dl {
            margin-left: 20px;
        }

        dt {
            color: var(--darkteal-color);
            font_size: 24px;
        }

        dd {
            margin-left: 16px;
            color: var(--teal-color);
            font_size: 14px;
        }
    </style>
</head>

<body>
    <div class="image">
        <img src=<%=image_path('FAQ.jpg') %> alt="Octupus with a speech bubble saying "You have questions we have answers. " height= 300px/> 

        <h2 class="text_over_image_right"> FAQs <h2>
    </div>
    <div class="row flexbox horizontal justify-space-between">
        <div>
            <img src=<%=image_path('side_reef2.jpg') %> alt="Beige dock with blue ocean" height=400px/> 
        </div>
        <div class="flexbox vertical center faq">
            <div class="homepage_boxes">
                <dt><b>Q: Where do Graken bikes have service?</b></dt>
                <dd>A: Graken bikes are stationed throughout the Nipmuc Notch area, in 
            several of the surrounding cities.</dd><br>
            </div>
            
            <div class="homepage_boxes">
                <dt><b>Q: Can I check out a bike without a Graken account?</b></dt>
                <dd>A: No, you must create a Graken account to check out a bike. Visit our How To 
                page for more information about renting bikes.</dd><br>
            </div>

            <div class="homepage_boxes">
                <dt><b>Q: Can I check out more than one bike at a time?</b></dt>
                <dd>A: No, you can only check out one bike at a time per Graken account.</dd>
            </div>
        </div>
        <div>
            <img src=<%=image_path('side_reef1.jpg') %> alt="Beige dock with blue ocean" height=400px/> 
        </div>
    </div>
    
        <dl> 


       
       
    </dl>

</body>