<!DOCTYPE html>
<html>
<!-- Page providing description about the GrakenBike team -->

    <%# <div id='text-container'> %>
    <body>
       
        <div class="image">
            <h1 class="text_over_image_left"> About Us <h1>
            <img src=<%=image_path('about_us.jpg') %> alt="Octupus with a speech bubble saying "You have questions we have answers. " height= 300px/> 
        </div>

    <div class="flexbox">
        <div class="image_left">
            <img src=<%=image_path('side_reef2.jpg') %> alt="Beige dock with blue ocean" /> 
            <img src=<%=image_path('side_reef1.jpg') %> alt="Beige dock with blue ocean" /> 
            <h2 class="text_over_image top"> <img src=<%=image_path('graken_team_photo_final.jpg') %> alt="Graken Software Engineering team" width="500" height="375"><h2>
        </div>

        <div class="flexbox vertical about_us">
            <div class="homepage_boxes">
                <dt><b>Who We Are</b></dt>
                <p>Here at GrakenBike, we are a small, elite team of up-and-coming programmers;
                the pride of Nipmuc Notch. As students at Smith College, our team is involved 
                in the Nipmuc Notch community, and we understand the needs of the many residents
                of our beautiful valley.</p>
            </div>
            
            <div class="homepage_boxes">
                <dt><b>What We Do</b></dt>
                <dd>Our young engineers are dedicated to providing the smoothest user experience possible
                to our customers. We seek to provide intuitive services run on well-tested systems for
                the enjoyment of all residents of Nipmuc Notch.</dd><br>
            </div>
        </div>

    </div>

    </body>

</html>