<!DOCTYPE html>
<html>
<!-- Page answering frequently asked questions -->

<head>
    <style>
        dl {
            margin-left: 20px;
        }

        dt {
            color: var(--lightgreen-color);
            font_size: 24px;
        }

        dd {
            margin-left: 16px;
            color: var(--gray-color);
            font_size: 14px;
        }
    </style>
</head>

<body>

    <h1>FAQ</h1>

    <dl> 
        <br><dt><b>Q: Where do Graken bikes have service?</b></dt>
        <dd>A: Graken bikes are stationed throughout the Nipmuc Notch area, in 
        several of the surrounding cities. Check out our Station Map to locate stations near you.</dd><br>

        <dt><b>Q: Can I check out a bike without a Graken account?</b></dt>
        <dd>A: No, you must create a Graken account to check out a bike. Visit our Home 
        page for more information about renting bikes.</dd><br>

        <dt><b>Q: Can I check out more than one bike at a time?</b></dt>
        <dd>A: Yes, you can check out as many bikes as you need. We charge a flat fee of $5 per rental.</dd>
    </dl>

</body>
</html>