<!DOCTYPE html>
<html>

<div id='text-container'>
<article>
    <h2 class=page-title>About</h2>

    <img src=<%=image_path('software_engineers.jpg') %> alt="Graken Software Engineering team" width="500" height="350">
    
    <h4>Who We Are</h4>

    <p>
        Here at Graken Inc., we are a small, elite team of up-and-coming programmers; 
        the pride of Nipmuc Notch. As students at Smith College, our team is involved 
        in the Nipmuc Notch community, and we understand the needs of the many residents
        of our beautiful valley. 
    </p>

    <h4>What We Do</h4>

    <p>
        Our young engineers are dedicated to providing the smoothest user experience possible 
        to our customers. We seek to provide intuitive services run on well-tested systems for 
        the enjoyment of all residents of Nipmuc Notch. 
    </p>
</article>
</div>

</html>