/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'BrunoAceSC';
  src: url('BrunoAceSC-Regular.ttf');
} 
@font-face {
  font-family: 'RedRose';
  src: url('RedRose.ttf');
}

 .navbar {
    background-color: var(--blue-color);
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: var(--white-color);
}

#header-home-link {
  text-decoration: none; 
  color: white;
}

#graken-header {
  font-family: var(--title-font);
}

nav ul {
    margin: 0;
    padding: 0;   
}

nav li {
    width: 10%; /* equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    display: inline-block;
    /* margin-left: 5px;
    margin-right: 8px; */
    margin-top: 5px;
    /* makes a border for every list item */
    border-right: 1px solid #ffffff;
}
/* removes the last border from list */
li:last-child {
    border-right: none;
  }
li a { 
    display: block;
    color:var(--white-color); 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/* change  link to blue on hover */
li a:hover {
    background-color: var(--darkblue-color);
    margin: -5px;

  } 

.right-section{
  float: right;
  position: relative;
}

.left-section{
  float: left;
  position: relative;
}


#map{
  width: 600px; 
  height: 400px;
  /* float: right; */
}
.station-side-bar{
  float: left;
  height: 600px;
  overflow: auto;
  width: 40%;
}

/* styles button used to open and close  collapsible content */
.collapsible {
  /* display: flex; */
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}

/* adds bg color to button: on  click  and while hover */
.active, .collapsible:hover {
  background-color:var(--darkblue-color);
}

/* style collapsible content */
.content {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  background-color:var(--transp-gray-color);

}

.rentnowbutton{
  position: relative;
  padding: 18px;
  float: right;
  overflow: auto;
  margin: 50px 50px 50px 50px;
}

/* styling for show and rent button on the rental page */
.show_rent {
  background-color: #27abe4; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.show_rent:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* dropdown for navigation bar */

.dropdown {
  display: inline-block;
  position: relative;
  background-color: var(--darkblue-color);
  color:var(--white-color);
  padding: 14px 16px 14px;
  border-right: none;
  border-radius: 15px ;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  left: 0px;
  border-radius: 0px 0px 15px 15px;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--white-color);
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  padding: 10px 42px 10px 30px;
}

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: var(--darkblue-color);
}

.form-buttons {
	background: #9dcff7;
	color: #fff;
	border: none;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.form-buttons:hover {
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

.input{
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}


.payment{
  background-color: #e7e4e4;
  padding: 25px;
}

.information{
  background-color: #c0dff8;
  padding: 25px;
}

.flash-div {
  z-index: 100;
  padding: 10px;
  width: 300px;
}
#flash-alert {
  border: 1px solid red; 
  background-color: rgb(255, 202, 202);
  color: rgb(116, 0, 0);
}
#flash-notice {
  border: 1px solid orange;
  background-color: rgb(255, 232, 190);
  color: rgb(110, 72, 0);
}
.closeButton {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.717)
 }
 
#rental-fish {
  width: 100%;
  height: 200px;
  position: relative;
}

#rental-fish-animation {
  width: 150px;
  height: 150px;
  position: absolute;
}

.update-header {
  text-align: left;
  vertical-align: top;
}
.update-field {
  float: left;
}
button, .form-buttons {
  font-family: var(--body-font);
  cursor: pointer;
}