/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Styling for the navigation bar. TODO: We should definitely change this!*/
.navbar {
    /* background-image: linear-gradient(to bottom right,  var(--blue-color), var(--darkblue-color)); */
    background-color: var(--blue-color);
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    border-width: 1px;
    border-bottom-style: solid;
    border-color: var(--white-color);
}
nav ul {

    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    /* makes a border for every list item */
    border-right: 1px solid #ffffff;
}
/* removes the last border from list */
li:last-child {
    border-right: none;
  }
li a {
    display: block;
    color:var(--white-color); 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/* change  link to black on hover */
li a:hover {
    background-color: var(--darkblue-color);
  } 

.map-section{
  float: right;
  position: relative;
}

#map{
  width: 600px; 
  height: 400px;
  /* float: right; */
}
.station-side-bar{
  float: left;
  height: 600px;
  overflow: auto;
  width: 40%;
}

/* styles button used to open and close  collapsible content */
.collapsible {
  /* display: flex; */
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}

/* adds bg color to button: on  click  and while hover */
.active, .collapsible:hover {
  background-color:var(--darkblue-color);
}

/* style collapsible content */
.content {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  background-color:var(--white-color);
}

.rentnowbutton{
  position: relative;
  padding: 18px;
  float: right;
  overflow: auto;
  margin: 50px 50px 50px 50px;
}


/* displays user info */
.user-info {
  display: flex;
  background-color: var(--darkblue-color);
  color:var(--white-color);
}


/* dropdown for navigation bar */

.dropdown {
  display: inline-block;
  position: relative;
  background-color: var(--darkblue-color);
  color:var(--white-color);
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--white-color);
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: var(--darkblue-color);
}
