/************************************/
/*        Global Definitions        */
/************************************/

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  font-size: 12pt;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

h1 {
  line-height: 2;
}

h2 {
  line-height: 2;
}

h4 {
  line-height: 2;
}

p {
  padding-bottom: 10px;
}

#text-container{
  margin: 20px;
}

#site-container{
 
  position: relative;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--darkteal-color);
  background-color: var(--yellowgray-color); 
  
  /** 
  /* not using the gradient, but here it is in case we want it, use with background-image
  /* linear-gradient(to bottom right,  var(--white-color), var(--blue-color)); 
  **/
}

.footer {
 
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  background-color: var(--darkblue-color);
  /* background-image: linear-gradient(to bottom right,  var(--blue-color), var(--darkblue-color)); */
  color: var(--white-color)

}

.footer-text-left {
  font-size:25px;
  margin-left:20px;
  float:left;
  word-spacing:20px;
}
/* when mouse hovers change background color of text */
a.menu:hover {
  background-color:var(--white-color);
  font-size:20px;
}