:root {
  --title-font:             'Rubik', 'Arial';
  --body-font:              'Rubik', 'Arial';

  --black-color:            #160919;
  --light-black-color:      #2E2230;
  --transp-gray-color:             rgb(132, 132, 140, 0.1);
  --light-gray-color:       #D0CED1;
  --dark-white-color:       #F3F2F3;
  --darkteal-color:     #024c7f;
  --white-color:            #FFFFFF;
  --blue-color:             #a9d9f9;
  --darkblue-color:         #2e7177;
  --lightgreen-color:     #9ac467;
  --transp-lightgreen-color:     rgb(154, 196, 103, 0.3);
  --yellow-gray-color:      #f6f6f2; 
  --darkgreen-color:     #7ea450;
}