
<% if flash[:alert].present? %>
    <div id="flash-alert" class='flash-div'>
    <button id='alertButton' class='closeButton'> &#215; </button>
    <% if flash[:alert].class == Array %>
        <% for alert in flash[:alert] %>
            <p><%= alert %> </p>
        <% end %>
    <% else %>
        <p><%= flash[:alert] %> </p>
    <% end %>
    </div>
<% end %>

<% if flash[:notice].present? %>
    <div id="flash-notice" class='flash-div'>
        <button id='noticeButton' class='closeButton'> &#215; </button>
        <% if flash[:notice].class == Array %>
            <% for notice in flash[:notice] %>
                <p><%= notice %> </p>
            <% end %>
        <% else %>
            <p><%= flash[:notice] %> </p>
        <% end %>
    </div>
<% end %>

<script>
//TODO: clean this up with ajax
alertButton = document.getElementById('alertButton');
if (alertButton != null) {
    alertButton.onclick = function() {
        close('flash-alert');
    }
}


noticeButton = document.getElementById('noticeButton');
if (noticeButton != null) {
    noticeButton.onclick = function() {
        close('flash-notice');
    } 
}

function close(id) {
    element = document.getElementById(id);
    element.style.display = "none";
}
</script>



