<header>
    <div class='navbar'>
        <h1>Graken</h1>
        <nav>
            <ul>
                <li><%= link_to "Log in", user_session_path%></li>
                <li><%= link_to "Station Map", station_maps_index_path%></li>
                <li><%= link_to "User view", users_path%></li>
            </ul>
        </nav>
    </div>
</header>

